<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("_header.ejs") %>
    <h1>Blog One</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum aliquid
      illo sit ad consectetur quisquam nostrum unde commodi molestias, tempora
      obcaecati magni nemo! Nam cupiditate, ex, sint totam nostrum molestiae
      eius adipisci esse fuga omnis voluptas in voluptatibus magni voluptatem!
      Soluta provident modi laborum commodi rerum maxime earum quasi tempore
      voluptatum nesciunt, pariatur hic quae est ipsum dolores, ex, asperiores
      doloribus velit libero voluptatem error. Rem optio laborum dolor
      exercitationem sed nemo veritatis temporibus officia cumque, incidunt
      repellendus, impedit voluptatem distinctio omnis dolorem ipsum quis
      eveniet magni nihil fugiat unde est. Soluta fugit provident, odio est
      natus dolor laboriosam ad similique qui nisi dolores itaque! Suscipit
      eveniet ex iste corrupti optio autem. Ea, ipsam nulla blanditiis ratione
      illo tenetur quo modi exercitationem distinctio, saepe illum recusandae
      labore totam odio corporis dolorem natus tempora aspernatur quae
      doloremque? Dicta labore eos nisi minus praesentium hic corporis nemo
      quidem? Nobis, suscipit debitis iusto quam quas sint ipsum aliquam
      repellendus distinctio at aspernatur esse, consequatur voluptatem
      doloremque. Assumenda esse sint impedit, officiis sequi, dolores laborum
      natus culpa nesciunt recusandae, commodi nihil fugiat reprehenderit autem
      porro totam! Repudiandae accusantium sequi dicta soluta impedit
      consequuntur? Sunt odit reiciendis pariatur, maiores dolor perferendis
      esse rem sequi iure facilis tenetur molestias, ipsa natus repellat nostrum
      dolores at unde sit saepe veritatis voluptates, delectus aliquam deleniti!
      Delectus quaerat consequatur ad pariatur enim, ipsa nulla molestiae harum
      debitis in vitae perferendis adipisci error saepe quas, est aut minus
      maxime. Doloribus minima quam laborum molestias laboriosam ullam!
      Asperiores quos id accusantium minus dolores magnam beatae quisquam quas
      blanditiis sunt nemo ratione mollitia ea, quaerat molestias consectetur
      aliquid non. Placeat a enim ipsum assumenda quibusdam sit debitis saepe
      itaque? Consectetur, doloribus impedit modi alias numquam ut ad cum ea
      odit ratione minima nesciunt illum quisquam delectus. Eligendi ipsa
      maiores obcaecati minus provident.
    </p>
  </body>
</html>
