<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <%- include("_header.ejs") %>
    <h1>login page</h1>
    <!-- add login link to header(partial) -->
    <!-- add the get route for the login page -->
    <!-- add post route for the login form -->
    <form action="/login" method="POST">
      <div>
        <label for="tsc">TSC NO</label>
        <input type="number" name="tsc" id="tsc" required />
      </div>
      <div>
        <label for="passkey">Passkey</label>
        <input type="password" name="passkey" id="passkey" required />
      </div>
      <input type="submit" value="login" />
    </form>
  </body>
</html>
